{% extends "base.html" %}
{% block title %}Backup{% endblock %}
{% block content %}

<h2 class="title">Backup Products - Alfashop</h2>

<table border="1" style="width:100%; border-collapse: collapse; background-color: #fff; margin-top:1rem;">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product[0] }}</td>
        <td>{{ product[1] }}</td>
        <td>${{ product[2] }}</td>
        <td>{{ product[3] }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %